.facebook-login-button {
	display: inline-block;
	// background-color: #4267B2;
}

.alt-logins .facebook a div {
	border-radius: 3px;
	border: 1px solid #4267B2;
	color: #4267B2;
	padding: 3px;
	background-color: #fff;
	transition: all 100ms linear;

	img {
		width: 32px;
		height: 32px;
	}

	span {
		margin: 0 0.7em;
		font-weight: 600;
	}

	&:hover {
		background-color: #4267B2;
		color: #fff;
	}
}